.Rectangle-4601 {
    width: 1116px;
    height: 320px;
    margin: 0 0 40px;
    padding: 26px 32px 48px 60px;
    border: solid 4px #2e763b;
    background-color: #2e763b;
  }
  img.p24ayzhjIIMSTCCALLUS24-25 {
    width: 321px;
    height: 26px;
    margin: 14px 0 64px 132px;
    object-fit: contain;
    font-family: Lora;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  img.Frame-402114 {
    width: 100px;
    height: 100px;
    margin: 0 603px 4px 0;
    padding: 38px 50px 18px 6px;
    object-fit: contain;
  }
  img.Letter-of-Reference {
    width: 458px;
    height: 38px;
    margin: 4px 241px 32px 4px;
    object-fit: contain;
    font-family: RedHatDisplay;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: 1.44px;
    text-align: left;
    color: #fff;
  }
  img.Rectangle-4602 {
    width: 571px;
    height: 72px;
    margin: 32px 132px 0 0;
    object-fit: contain;
    background-color: rgba(255, 0, 0, 0.2);
  }
  img.This-is-to-certify-that {
    width: 209px;
    height: 20px;
    margin: 40px 603px 16px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #1d1d1f;
  }
  .Ryan-Kim {
    width: 299px;
    height: 78px;
    margin: 16px 513px 20px 60px;
    font-family: Lora;
    font-size: 68px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.15;
    letter-spacing: -0.68px;
    text-align: left;
    color: #720e33;
  }
  img.Frame-402111 {
    width: 164px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    margin: 20px 4px 24px 60px;
    padding: 0;
    object-fit: contain;
  }
  img.Frame-402112 {
    width: 824px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    margin: 20px 64px 24px 4px;
    padding: 0;
    object-fit: contain;
  }
  .bg {
    width: 1116px;
    height: 1468px;
    padding: 0 0 40px;
    border: solid 4px #2e763b;
    background-color: #fff5ea;
  }
  img.Good-Company-in-the-United-States {
    width: 992px;
    height: 30px;
    margin: 16px 64px 4px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.48px;
    text-align: left;
    color: #1d1d1f;
  }
  img.from-April-2-2024-to-August-23-2024 {
    width: 992px;
    height: 26px;
    margin: 4px 64px 16px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1d1d1f;
  }
  img.During-this-period-Ryan-Kim-demonstrated-exceptional-dedication-professionalism-and-competence-in {
    width: 992px;
    height: 52px;
    margin: 16px 64px 16px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1d1d1f;
  }
  img.We-highly-appreciate-the-efforts-of-Ryan-Kim-and-hereby-present-this-letter-of-reference {
    width: 992px;
    height: 26px;
    margin: 16px 64px 24px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1d1d1f;
  }
  img.July-25-2024 {
    width: 992px;
    height: 30px;
    margin: 24px 62px 40px;
    object-fit: contain;
    font-family: Lora;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: center;
    color: #1d1d1f;
  }
  img.Rectangle-4604 {
    width: 581px;
    height: 132px;
    margin: 40px 231px 24px 60px;
    object-fit: contain;
    background-color: rgba(255, 0, 0, 0.2);
  }
  img.Juno-Yu-Co-founder-and-CTO-Good-Company {
    width: 773px;
    height: 72px;
    margin: 24px 39px 4px 60px;
    object-fit: contain;
    font-family: Lora;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.36px;
    text-align: left;
    color: #000;
  }
  img.Rectangle-4603 {
    width: 180px;
    height: 180px;
    margin: 140px 64px 40px 39px;
    object-fit: contain;
    background-color: rgba(255, 0, 0, 0.2);
  }
  .Harvard-Innovation-Labs-125-Western-Ave-Boston-MA-USA {
    width: 773px;
    height: 48px;
    margin: 4px 39px 40px 60px;
    font-family: Lora;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1d1d1f;
  }
  img.The-below-institutions-councils-and-organisations-hereby-approve-that-the-internship-has-been-cond {
    width: 960px;
    height: 60px;
    margin: 40px 78px 16px;
    object-fit: contain;
    font-family: Lora;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.14px;
    text-align: center;
    color: #656565;
  }
  img.sponser {
    width: 670.7px;
    height: 64px;
    margin: 16px 222.3px 0 223px;
    object-fit: contain;
  }
  .bg {
    width: 1116px;
    height: 1468px;
    padding: 0 0 40px;
    border: solid 4px #2e763b;
    background-color: #fff5ea;
  }
  