# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
student_pdfs/*
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# Jupyter Notebook files
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Local configuration files
*.env
*.local

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*~
# Ignore specific files
qr_details.py
qr_insert.py
qr_Scanner.py
reference_letter
url.py
information_pdf
integration.py
main.py
modify

# Test coverage
.coverage
.tox/
.nox/
.cache
coverage.xml
*,cover

# MyPy
.mypy_cache/
reference_letter

# Pylint
.pylint.d/
