.frame-402114 .bg {
    width: 100px;
    height: 100px;
    margin: 0 603px 4px 0;
    padding: 38px 50px 18px 6px;
    object-fit: contain;
  }
  
  .frame-402114 .p24ayzhj-iimstc-callus-24-25 {
    width: 321px;
    height: 26px;
    margin: 14px 0 64px 132px;
    object-fit: contain;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    color: #FFFFFF;
  }
  
  .frame-402114 .letter-of-reference {
    width: 458px;
    height: 38px;
    margin: 4px 241px 32px 4px;
    object-fit: contain;
    font-family: 'Red Hat Display';
    font-size: 36px;
    font-weight: 900;
    line-height: 1.06;
    letter-spacing: 1.44px;
    text-align: left;
    color: #FFFFFF;
  }
  
  .frame-402114 .rectangle-4602 {
    width: 571px;
    height: 72px;
    margin: 32px 132px 0 0;
    object-fit: contain;
    background-color: rgba(255, 0, 0, 0.2);
  }
  
  .frame-402114 .this-is-to-certify-that {
    width: 209px;
    height: 20px;
    margin: 40px 603px 16px 60px;
    object-fit: contain;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #1D1D1F;
  }
  
  .frame-402114 .ryan-kim {
    width: 299px;
    height: 78px;
    margin: 16px 513px 20px 60px;
    font-family: 'Lora';
    font-size: 68px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.15;
    letter-spacing: -0.68px;
    text-align: left;
    color: #720E33;
  }
  
  .frame-402114 .frame-402111 {
    width: 164px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    margin: 20px 4px 24px 60px;
    padding: 0;
    object-fit: contain;
  }
  
  .frame-402114 .frame-402112 {
    width: 824px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    margin: 20px 64px 24px 4px;
    padding: 0;
    object-fit: contain;
  }
  
  .frame-402114 .has-successfully-completed-the-international-internship-program-sprint-program-at {
    width: 992px;
    height: 26px;
    margin: 24px 64px 16px 60px;
    object-fit: contain;
    font-family: 'Lora';
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1D1D1F;
  }
  
  .frame-402114 .good-company-in-the-united-states {
    width: 992px;
    height: 30px;
    margin: 16px 64px 4px 60px;
    object-fit: contain;
    font-family: 'Lora';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.48px;
    text-align: left;
    color: #1D1D1F;
  }
  
  .frame-402114 .from-april-2-2024-to-august-23-2024 {
    width: 992px;
    height: 26px;
    margin: 4px 64px 16px 60px;
    object-fit: contain;
    font-family: 'Lora';
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: -0.36px;
    text-align: left;
    color: #1D1D1F;
  }
  