<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Letter of Reference</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="letter_of_reference.css" />
  </head>
  <body>
    <div class="letter-of-reference"
      <div class="bg">
      <div class="container">
        <div class="container-3">
          <img class="vector" src="../assets/vectors/vector_9_x2.svg" />
          <div class="p-24-ayzhj-iimstc-callus-2425">
          p24ayzhj/IIMSTC/CALLUS/24-25
          </div>
        </div>
        <div class="letter-of-reference-1">
        Letter of Reference
        </div>
        <div class="rectangle-4601">
        </div>
      </div>
      <div class="this-is-to-certify-that">
      This is to certify that
      </div>
      <div class="ryan-kim">
      Ryan Kim
      </div>
      <div class="container-2">
        <div class="frame-402111">
          <div class="university">
          University
          </div>
          <div class="roll-number">
          Roll Number
          </div>
          <div class="institute">
          Institute
          </div>
          <span class="class">
          Class
          </span>
        </div>
        <div class="frame-402112">
          <div class="sample-university-in-bengaluru-karnataka">
          Sample University in Bengaluru, Karnataka 
          </div>
          <div class="abc-123-xyz-987">
          ABC123XYZ987
          </div>
          <div class="sample-university-main-campus-in-bengaluru-karnataka">
          Sample University, Main Campus in Bengaluru, Karnataka
          </div>
          <span class="th-semester">
          7th Semester
          </span>
        </div>
      </div>
      <div class="has-successfully-completed-the-international-internship-program-sprint-program-at">
      has successfully completed the international internship program (SPRINT PROGRAM) at 
      </div>
      <div class="good-company-in-the-united-states">
      Good Company in the United States
      </div>
      <div class="from-april-22024-to-august-232024">
      from April 2, 2024 to August 23, 2024.
      </div>
      <div class="during-this-period-ryan-kim-demonstrated-exceptional-dedication-professionalism-and-competence-in-fulfilling-the-assigned-tasks-and-responsibilities">
      During this period, Ryan Kim demonstrated exceptional dedication, professionalism, and<br />
      competence in fulfilling the assigned tasks and responsibilities.
      </div>
      <div class="we-highly-appreciate-the-efforts-of-ryan-kim-and-hereby-present-this-letter-of-reference">
      We highly appreciate the efforts of Ryan Kim and hereby present this letter of reference.
      </div>
      <span class="July-25-2024">
      July 25, 2024
      </span>
      <div class="container-1">
        <div class="container-4">
          <div class="rectangle-4604">
          </div>
          <div class="juno-yu-co-founder-and-cto-good-company">
          Juno Yu, Co-founder and CTO<br />
          <br />
          Good Company
          </div>
          <span class="harvard-innovation-labs-125-western-ave-boston-ma-usa">
          Harvard Innovation Labs 125 Western Ave Boston,<br />
          MA, USA
          </span>
        </div>
        <div class="rectangle-4603">
        </div>
      </div>
      <span class="the-below-institutions-councils-and-organisations-hereby-approve-that-the-internship-has-been-conducted-truthfully-and-meaningfully-according-to-the-internship-guidelines-announced-by-the-all-india-council-for-technical-education-and-the-individual-holding-this-certificate-is-eligible-to-receive-academic-credits-from-hisher-academic-institution">
      The below institutions, councils, and organisations hereby approve that the internship has been conducted truthfully and meaningfully according to <br /> the internship guidelines announced by the All India Council for Technical Education, and the individual holding this certificate is eligible to receive <br/> academic credits from his/her academic institution.
      </span>
      
      <div class="sponser">
        
        <div class="rectangle-3">
        </div>
        <div class="rectangle">
        </div>
        <div class="rectangle-2">
        </div>
        <img src="../assets/images/sponser@2x.png"
       
          class="sponser">
         
         <div class="rectangle-1">
          
        </div>
      </div>
    </div>
  </body>
</html>